<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="h-100 w-50 d-flex flex-column align-items-center justify-content-center gap-3">
      <h2><%= username %>'s entries</h2>
      <ul class="list-unstyled">
        <% for(var i=0; i<entries.length; i++) {%>
          <li class="justify-content-between mt-5">
            <a href="/entry/<%= entries[i]._id%>">
              <p><%= entries[i].monthAsWord %>/<%= entries[i].day %>/<%= entries[i].year %> <%= entries[i].time %></p>
            </a>
          </li>
        <% } %>
        </ul>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
