<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="entries-content">
    <div class="entries-container">
      <div class="entries container glass-card">
        <h2 class="m-0"><%= username %>'s entries</h2>
        <ul class="w-100 d-flex flex-column gap-4 list-unstyled">
          <% for(var i=0; i<entries.length; i++) {%>
            <li class="entries-li">
              <a class="entries-a" href="/entry/<%= entries[i]._id%>">
                <div class="entries-date">
                  <p><%= entries[i].month %>/<%= entries[i].day %>/<%= entries[i].year %></p>
                  <p><%= entries[i].time %></p>
                </div>
                <div class="peekaboo-text"><%- entries[i].text %></div>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>