<%- include('partials/logged-in-header') -%>

<main class="masthead h-100">
  <div class="h-100 d-flex align-items-center justify-content-center">
    <div class="h-100 w-50 d-flex flex-column align-items-center justify-content-center gap-3">
      <div class="container all-entries-container glass-card d-flex flex-column justify-content-center align-items-center text-center gap-5">
        <h2 class="m-0">Your entries on <%= entries[0].monthAsWord %> <%= entries[0].day %>, <%= entries[0].year %></h2>
        <ul class="d-flex flex-column gap-4 list-unstyled">
          <% for(var i=0; i<entries.length; i++) {%>
            <li class="justify-content-between">
              <a href="/entry/<%= entries[i]._id%>">
                <p><%= entries[i].monthAsWord %>/<%= entries[i].day %>/<%= entries[i].year %> <%= entries[i].time %></p>
              </a>
            </li>
          <% } %>
        </ul>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
