<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="unique-entry-content">
    <div class="unique-entry-container">
      <div class="container unique-entry glass-card">
        <div class="unique-entry-header">
          <p><%= entry.monthAsWord %> <%= entry.day %>, <%= entry.year %></p>
          <p><%= entry.time %></p>
        </div>
        <p class="unique-entry-prompt"><%= entry.prompt %></p>
        <p class="unique-entry-text"><%= entry.text %></p>
      </div>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>