<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="prompts-content">
    <div class="prompts-container">
      <div class="prompts container glass-card">
        <h2 class="m-0"><%= username %>'s prompts</h2>
        <div class="prompts-nav">
          <button class="prompts-nav-option button-15 current-option all-prompts">All</button>
          <button class="prompts-nav-option button-15 for-you-prompts">For You</button>
          <button class="prompts-nav-option button-15 by-you-prompts">By You</button>
        </div>
        <div class="w-100 prompt-choices-container">
          <div class="all-prompts-container">
            <ul class="list-unstyled m-0 d-flex flex-column gap-3">
              <% for(var i=0; i<forYouPrompts.length; i++) {%>
                <li>
                    <p><%= forYouPrompts[i].text %></p>
                </li>
              <% } %>
              <% for(var i=0; i<byYouPrompts.length; i++) {%>
                <li>
                    <p><%= byYouPrompts[i].text %></p>
                </li>
              <% } %>
            </ul>
          </div>

          <div class="for-you-prompts-container hidden">
            <ul class="list-unstyled m-0 d-flex flex-column gap-3">
              <% for(var i=0; i<forYouPrompts.length; i++) {%>
                <li>
                    <p><%= forYouPrompts[i].text %></p>
                </li>
              <% } %>
            </ul>
          </div>

          <div class="by-you-prompts-container hidden">
            <ul class="list-unstyled m-0 d-flex flex-column gap-3">
              <% for(var i=0; i<byYouPrompts.length; i++) {%>
                <li>
                    <p><%= byYouPrompts[i].text %></p>
                </li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>

      <div class="add-prompt-container glass-card d-flex flex-column align-items-center justify-content-center">
        <form action="/settings/createPrompt" method="POST" class="create-prompt-form d-flex flex-column">
          <div class="">
            <textarea id="createPrompt" name="createPrompt" class="form-control z-depth-1" rows="1" placeholder="Add a prompt..." required></textarea>
          </div>
          <button type="submit" class="button-15 button-15-small align-self-end mt-3">Create</button>
        </form>
      </div>
    </div>
  </div>
</main>

<script>
  var forYouPrompts = <%- JSON.stringify(forYouPrompts) %>
  var byYouPrompts = <%- JSON.stringify(byYouPrompts) %>
</script>
<script src="/js/main.js"></script>

<%- include('partials/footer') -%>