<%- include('partials/logged-in-header') -%>

<main class="masthead">
  <div class="d-flex h-100 align-items-center justify-content-center">
    <div class="h-100 w-50 d-flex flex-column align-items-center justify-content-center gap-3">
      <h2><%= username %>'s prompts</h2>
      <div class="d-flex w-50 justify-content-between">
        <button>All</button>
        <button>For You</button>
        <button>By You</button>
      </div>
      <p>all for now</p>
      <ul class="list-unstyled">
        <% for(var i=0; i<forYouPrompts.length; i++) {%>
          <li class="justify-content-between mt-5">
            <a href="/settings/prompts/<%= forYouPrompts[i]._id%>">
              <p><%= forYouPrompts[i].text %></p>
            </a>
          </li>
        <% } %>
        <% for(var i=0; i<byYouPrompts.length; i++) {%>
          <li class="justify-content-between mt-5">
            <a href="/settings/prompts/<%= byYouPrompts[i]._id%>">
              <p><%= byYouPrompts[i].text %></p>
            </a>
          </li>
        <% } %>
      </ul>
      <p>for you (for now)</p>
      <ul class="list-unstyled">
        <% for(var i=0; i<forYouPrompts.length; i++) {%>
          <li class="justify-content-between mt-5">
            <a href="/settings/prompts/<%= forYouPrompts[i]._id%>">
              <p><%= forYouPrompts[i].text %></p>
            </a>
          </li>
        <% } %>
      </ul>
      
      <p>by you (for now)</p>
        <% for(var i=0; i<byYouPrompts.length; i++) {%>
          <li class="justify-content-between mt-5">
            <a href="/settings/prompts/<%= byYouPrompts[i]._id%>">
              <p><%= byYouPrompts[i].text %></p>
            </a>
          </li>
        <% } %>
      </ul>
      
      </ul>
      <form action="/prompts/createPrompt" method="POST" class="w-50 d-flex flex-column">
        <div class="">
          <textarea id="createPrompt" name="createPrompt" class="form-control z-depth-1 textarea-shadow" rows="1" placeholder="Add a prompt..."></textarea>
        </div>
        <button type="submit" class="align-self-end mt-4">Create</button>
      </form>
    </div>
  </div>
</main>

<%- include('partials/footer') -%>
